* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    min-height: 100vh;
    background: rgb(46, 16, 16);
    color: tan;
}


nav {
    top: 0%;
    border-bottom: 2%;
    text-align: left;
}

nav ul{
    text-align: float-left;
    list-style-type: square;
}

.loader {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: rgb(57, 15, 73);
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    overflow: hidden;
}

    .loader:before {
        content: "";
        position: absolute;
        top:-150%;
        left: -50%;
        width: 300px;
        height:220px;
        border-radius: 40%;
        background-color: #111;
        opacity: 0.8;
        animation:animate 12s linear infinite;
}
    @keyframes animate {
     0% 
}
    {
    transform:rotate(0deg)
    }
{
    100%
} 
    {
        transform:rotate(360deg)
    }

    .loader:after {
        content: "";
        position: absolute;
        top:-150%;
        left: -50%;
        width: 300px;
        height:220px;
        border-radius: 40%;
        background-color: #111;
        opacity: 0.9;
        animation:animate2 12s linear infinite;
    }
    @keyframes animate2
    {
         0% 
    }
        {
            transform:rotate(360deg)
        }
        {
            100%
        } 
    
        {
            transform:rotate(0deg)
        }


#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #ad8f55;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}
12moonPhases(){

}
#buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

#buttons li a:hover {
    text-decoration: none;
    color: #201407;
    background-color: #ce9b2c;
}

footer {
    background-color: rgb(32, 19, 4);
    position: relative;
    box-sizing: content-box;
    box-shadow: #ad8f55;
    max-height: fit-content;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    border-radius: 0%;
}

